<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-6 col-md-offset-3">
	<div class="container-fluid newVideo">
		<div class="row-fluid">
	 		<div class="form-group">
  				<div class="field">
    				<%= f.text_field :properName, placeholder: 'App name', :class => "form-control" %>
  		  		</div>
				
				<div class'"row-fluid"'>
  		  		<div class="field">
    		  		<%= f.label :video %><br>
    		  		<%= f.file_field :video %>
  		  		</div>
  				<div class="field">
    				<%= f.label "Screenshot" %><br>
    				<%= f.file_field :poster %>
  		  		</div>
			</div>
  		  		<div class="actions">
					<div class="col-md-1 col-md-offset-9">
    				<%= f.submit :class => 'btn btn-large btn-primary' %>
					</div>
  		  	  	</div>
				<div class="col-md-4">
				<h2>
				20MB max file size<br>
				640 x 1136 .png
				</h2>
				</div>
			</div>
		</div>
  	</div>
</div>
<% end %>
