<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation" class="bg-warning">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-5 col-md-offset-3">
	<div class="container-fluid newVideo">
		<div class="row-fluid">
	 		<div class="form-group">
  				<div class="field">
    				<%= f.text_field :properName, placeholder: 'App name', :class => "form-control" %>
  		  		</div>
				
				<div class="row-fluid">
					<div class="field">
			        <span class="btn btn-upload fileinput-button">
			          <i class="glyphicon glyphicon-facetime-video"></i>
			          <span>Choose .mov</span>
			          <%= f.file_field :video %>
			        </span>
			        <span class="btn btn-upload fileinput-button pull-right">
			          <i class="glyphicon glyphicon-picture"></i>
			          <span>Choose .png</span>
			          <%= f.file_field :poster %>
			        </span>
				</div>
			</div>
  		  		<div class="row">
					<div class="field">
					<div class="pull-left">
					<h2>
					20MB max file size<br>
					640 x 1136 .png
					</h2>
				</div>
				<div class="pull-right">
				<%= f.submit :class => 'btn btn-warning cancel', :style => 'margin: 20px' %>
			</div>
					</div>
					<!--<div class="col-md-1 col-md-offset-4">
    				<%= f.submit :class => 'btn btn-warning cancel pull-right' %>
					</div> -->
  		  	  	</div>
			</div>
		</div>
  	</div>
</div>
<% end %>
